section.about#about
  .about__bg
    img(src="assets/img/bg-about.jpg", alt="bg-about")
  .container.about__container
    h2.title-hw Пара слов о нас
    p.descr-small процесс оплаты и прочие рабочие моменты
    .advantages
      .advantages__inner
        svg(class="icon icon__help icon__advantages")
                use(xlink:href="assets/img/icons/sprite.svg#help")
        h3.advantages__title Поддержка
        p.advantages__descr 
          | Всегда на связи в течение всего <br>
          | периода разработки проекта
      .advantages__inner
        svg(class="icon icon__shield icon__advantages")
                use(xlink:href="assets/img/icons/sprite.svg#shield")
        h3.advantages__title Гарантия
        p.advantages__descr
          | Консультируем даже <br>
          | 3-летней давности проекты
      .advantages__inner
        svg(class="icon icon__lamp icon__advantages")
                use(xlink:href="assets/img/icons/sprite.svg#lamp")
        h3.advantages__title Не просто болтовня
        p.advantages__descr
          | Разбираем ситуацию <br>
          | и предпочтения, идеи