section.footer
  .footer-underline
      .line
      .container.footer__container
        .footer-underline__wrap
          p.descr-small.descr-small__footer © Зарегистрированный товарный знак коммерческой организации
          button.btn.footer__btn.btn__fill
            .btn__inner
              <span class='btn__text'>Письмо с сайта</span>
            .btn__arrow