section.opinions#opinions
  .opinions-bg
    img(src="assets/img/bg-opinions.jpg" alt="s")
  .container.opinions__container
    h2.title-hw.title-hw__opinions Мнения клиентов
    .swiper-container.opinions-swiper
      .slider-control.slider-control-opinions
        .slider-control__pagination.slider-control-opinions__pagination
        .slider-control__prev.slider-control-opinions__prev
        .slider-control__next.slider-control-opinions__next
      .swiper-wrapper
        .swiper-slide
          .opinions-slide
            .opinions-slide-photo
              img(src="assets/img/photo.png" alt="photo")
            .opinions-slide-text-block
              .opinions-slide-text-block__header
                .opinions-slide-text-block__name Екатерина Смирнова
                .opinions-slide-text-block__subtitle 69м², Проект квартиры
              p.opinions-slide-text-block__descr
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inci <br>
                | didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat<br> 
                | nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br> 
                | officia deserunt mollit anim id est laborum
        .swiper-slide
          .opinions-slide
            .opinions-slide-photo
              img(src="assets/img/photo.png" alt="photo")
            .opinions-slide-text-block
              .opinions-slide-text-block__header
                .opinions-slide-text-block__name Алина Гаан
                .opinions-slide-text-block__subtitle 69м², Проект квартиры
              p.opinions-slide-text-block__descr
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inci <br>
                | didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat<br> 
                | nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br> 
                | officia deserunt mollit anim id est laborum


