section.process
  .bg-wrap
    .process__bg
      img(src="assets/img/bg-process.jpg", alt="bg-process")
  .container
    h2.title-hw.title__about Открытость в работе
    .descr-small.descr-small__about вот как выглядит наш процесс работы
    .steps
      .steps__item
        .steps__item-line.steps__item-line--up
          img(src="assets/img/icons/process-lineUp.png", alt="LineUp")
        .steps-item__inner
          .steps__number-wrap
            .steps__number 1
            .steps__postfixs-wrap
              .steps__postfix -й
              .steps__word ШАГ
          .steps__text-wrap
          .steps__title Знакомство
          p.steps__descr
            | Проводим встречу, выясняем <br> 
            | намерения и идеи. Все внимательно <br> 
            | записываем и готовим концепт
      .steps__item
        .steps__item-line.steps__item-line--up
          img(src="assets/img/icons/process-lineUp.png", alt="LineUp")
        .steps-item__inner
          .steps__number-wrap
            .steps__number 2
            .steps__postfixs-wrap
              .steps__postfix -й
              .steps__word шаг
          .steps__text-wrap
            .steps__title Концепт ДЕТ
            p.steps__descr
              | Приезжаем на объект для изучения <br>
              | “фундамента”, площади и иных <br> 
              | особенностей 
      .steps__item
        .steps__item-line.steps__item-line--up
          img(src="assets/img/icons/process-lineUp.png", alt="LineUp")
        .steps-item__inner
          .steps__number-wrap
            .steps__number 3
            .steps__postfixs-wrap
              .steps__postfix -й
              .steps__word шаг
          .steps__text-wrap
            .steps__title Проработка
            p.steps__descr
              | Суммируем игруппируем все <br>
              | данные, анализируем и сравниваем <br> 
              | реализованные идеи и собираем <br>
              | концепт
      .steps__item
        .steps__item-line.steps__item-line--down
          img(src="assets/img/icons/process-lineDown.png", alt="LineUp")
        .steps-item__inner
          .steps__number-wrap
            .steps__number 4
            .steps__postfixs-wrap
              .steps__postfix -й
              .steps__word шаг
          .steps__text-wrap
            .steps__title Низкодетализированный
            p.steps__descr
              | Утверждаем концепцию, приводим <br>
              | в порядок данные по корректировкам <br>
              | и приступаем к дизайну
      .steps__item
        .steps__item-line.steps__item-line--down
          img(src="assets/img/icons/process-lineDown.png", alt="LineUp")
        .steps-item__inner
          .steps__number-wrap
            .steps__number 5
            .steps__postfixs-wrap
              .steps__postfix -й
              .steps__word шаг
          .steps__text-wrap
            .steps__title Дизайним
            p.steps__descr
              | Собираем проект в единую структуру, <br>
              | утверждаем направления и дизайн
      .steps__item
        .steps__item-line.steps__item-line--down
          img(src="assets/img/icons/process-lineDown.png", alt="LineUp")
        .steps-item__inner
          .steps__number-wrap
            .steps__number 6
            .steps__postfixs-wrap
              .steps__postfix -й
              .steps__word шаг
          .steps__text-wrap
            .steps__title Финиш
            p.steps__descr Сдача проекта
    .test
      .test__inner
        h3.title-hw.title__test Я знаю, что мне нужно
        p.descr-small.descr-small__test 
          | Если вам не нужна консультация — заполните тест для экономии времени <br>
          | наших менеджеров и получите скидку на проект
      button.btn.btn__test.btn__fill
        .btn__inner
          <span class='btn__text'>Заполнить тест</span>
        .btn__arrow
