section.works#works
  .container
    h2.title-hw.title__works Примеры наших работ
    .tabs
      .tabs-triggers
        a.tabs-triggers__item(href="#all").tabs-triggers__item--active Все
        a.tabs-triggers__item(href="#private") Частные
        a.tabs-triggers__item(href="#commerce") Коммерция
      .tabs-content
        #all.tabs-content__item.tabs-content__item--active
          .tabs-content__img-wrap
            img(src="assets/img/works/work1.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work2.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work3.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work4.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work5.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work6.jpg", alt="work")
        #private.tabs-content__item
          //- .tabs-content__img-wrap
            img(src="assets/img/works/work1.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work2.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work3.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work4.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work5.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work6.jpg", alt="work")
        #commerce.tabs-content__item
          .tabs-content__img-wrap
            img(src="assets/img/works/work1.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work2.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work3.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work4.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work5.jpg", alt="work")
          .tabs-content__img-wrap
            img(src="assets/img/works/work6.jpg", alt="work")
      a(href="works.html")
        button.btn.tabs__btn.btn__clear Посмотреть все работы