doctype html
html(lang="ru-RU").lock
  include ../includes/_head.pug
  body.lock.main-page
    .page-loader-main.loading
      .loader-section
      .loader-section
      .loader-section
      .loader-section
      .loader-section
      .loader-section
    .page-lines
      .page-line
      .page-line
      .page-line
      .page-line
      .page-line
    include ../includes/_main.pug
    include ../includes/_presentation.pug
    include ../includes/_works.pug
    include ../includes/_about.pug
    include ../includes/_process.pug
    include ../includes/_calculator.pug
    include ../includes/_opinions.pug
    include ../includes/_contacts.pug
    include ../includes/_footer.pug
    script(src="assets/js/vendors~app.js")
    script(src="assets/js/app.js")